<table class="table">
    <thead class="thead-dark">
         <tr>
            <th scope="col">Nombre</th>
            <th scope="col">
               <!--<div class="form-check">
                  <input class="form-check-input position-static" type="checkbox" 
                  id="blankCheckbox" value="option1" aria-label="...">
               </div>-->
               Asistencia
            </th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td>Javier Alexander Jiménez Castro</td>
             <td>
                <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" 
                    id="blankCheckbox" value="option1" aria-label="...">
                </div>
             </td>
         </tr>
     </tbody>
 </table>