<div class="formulario">   
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h1>Creacion de cursos</h1>
        <br>
        <form>
          <div class="form-group row">
              <div class="col-sm-3">
                  <label class="col-sm-2 col-form-label">Tipo</label>
              </div>  
            <div class="col-sm-8">
              <input type="text" class="form-control" id="tipo" placeholder="">
            </div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-sm-3">
                  <label  class="col-sm-2 col-form-label">Costo</label>
              </div>
            <div class="col-sm-8">
              <input type="number" class="form-control" id="costo" placeholder="">
            </div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-sm-3">
                  <label  class="col-sm-2 col-form-label">Horas</label>
              </div>  
            <div class="col-sm-8">
              <input type="number" class="form-control" id="horas" placeholder="">
            </div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-sm-3">
                  <label  class="col-sm-2 col-form-label">Responsable</label>
              </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="resp" placeholder="">
            </div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-sm-3"> 
                  <label  class="col-sm-2 col-form-label">Categoria</label>
              </div>  
            <div class="col-sm-8">
              <input type="text" class="form-control" id="cat" placeholder="">
            </div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-sm-3">
                  <label  class="col-sm-2 col-form-label">Profesor</label>
              </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="prof" placeholder="">
            </div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-sm-3">
                  <label  class="col-sm-2 col-form-label">Requisitos</label>
              </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="req" placeholder="">
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-sm-3">
                <button class="btn btn-primary">Registrar</button>
            </div>
        </div>          
        </form>
      </div>
      <div class="col">       
      </div>
    </div>   
</div>
