<form class="example-form">
  <input type="text"
         placeholder="Nombre del curso"
         class="example-input">
         <br>
         <input type="text"
         placeholder="Valor del curso"
         class="example-input">
         <br>
         <input type="text"
         placeholder="Numero de horas"
         class="example-input">
         <br>
         <input type="text"
         placeholder="Categoria"
         class="example-input">
         <br>
         <input type="text"
         placeholder="Profesor"
         class="example-input">
         <br>
         <input type="text"
         placeholder="Responsable"
         class="example-input">
         <br>
         <input type="text"
         placeholder="Requisitos adicionales"
         class="example-input">
</form>

<router-outlet></router-outlet>
